body {
  margin: 0;
  font-family: Helvetica, Arial, Verdana, sans-serif;
  text-align: center;
  font-size: 45%;
}

img {
  width: 100%;
}

.main {
  margin: 0 auto;
  width: 55%;
  padding-top:    10px;
  margin-bottom: 120px;
}

section.private_key {
  padding-top: 20px;
}

p {
  font-size: 75%;
}
