body {
  margin: 0;
  font-family: Helvetica, Arial, Verdana, sans-serif;
  text-align: center;
  font-size: 45%;
}

img {
  width: 100%;
}

.main {
  padding-top:    10px;
  margin-bottom: 120px;
  width: 100%;
}

.main img {
  width: 50%;
  margin: 0 auto;
}

section.private_key {
  padding-top: 20px;
}

p {
  font-size: 75%;
}

div.label {
  padding-top:  15px;
  word-wrap: break-word;
  width: 95%;
  margin: 0 auto;
  text-align: center;
}

.progress {
  width: 0%;
  background: #09e;
  height: 2px;
  box-shadow: 0 0 7px #09e;
}
